.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border-bottom: 2px solid var(--cl-light-1);
}

a.menu-link {
    padding: 18px;
    text-align: center;
    text-decoration: none;
    color: var(--cl-light-1);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: padding 0.3s, background-color 0.5s, text-shadow 0.7s;
}

a.activated {
    background-color: var(--cl-dark-2);
    text-shadow: 0px 0px 20px var(--cl-light-1);
}

a:hover {
    padding: 14px 18px 22px 18px;
}