.configuration-content {
    padding: 10px;
}
.configuration-content h1 {
    font-size: 26px;
    border-bottom: 2px dotted var(--cl-light-1);
    padding-bottom: 2px;
    margin: 0.4em 0 0.4em 0;
}
.password-wrapper {
    display: flex;
    gap: 4px;
}

.clear-message-block {
    display: flex;
    gap: 6px;
    align-items: baseline;
}