
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$cl-dark-1: #022C41;
$cl-light-1: #00adb5;

$slv-palette: (
    50: $cl-light-1,
    100: $cl-light-1,
    200: $cl-light-1,
    300: $cl-light-1,
    400: $cl-light-1,
    500: $cl-light-1,
    600: $cl-light-1,
    700: $cl-light-1,
    800: $cl-light-1,
    900: $cl-light-1,
    A100: $cl-light-1,
    A200: $cl-light-1,
    A400: $cl-light-1,
    A700: $cl-light-1,
    contrast: (
        50: $cl-dark-1,
        100: $cl-dark-1,
        200: $cl-dark-1,
        300: $cl-dark-1,
        400: $cl-dark-1,
        500: $cl-dark-1,
        600: $cl-dark-1,
        700: $cl-dark-1,
        800: $cl-dark-1,
        900: $cl-dark-1,
        A100: $cl-dark-1,
        A200: $cl-dark-1,
        A400: $cl-dark-1,
        A700: $cl-dark-1
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$smart-link-vault-primary: mat-palette($slv-palette);
$smart-link-vault-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$smart-link-vault-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$smart-link-vault-theme: mat-light-theme($smart-link-vault-primary, $smart-link-vault-accent, $smart-link-vault-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($smart-link-vault-theme);

