
:root {
    --cl-dark-1: #022C41; /* #022C41 */
    --cl-light-1: #00adb5;
}

html, body {
    margin: 0;
}

html {
    width: 85vh;
    height: 600px;

    overflow: hidden;
    background-color: var(--cl-dark-1);
    color: var(--cl-light-1);
}