
:root {
    --cl-dark-1: #022C41;
    --cl-dark-2: #033b57;
    --cl-light-1: #00adb5;
    --cl-light-2: #006c72;
}

@font-face {
    font-family: "Human";
    src: url("assets/fonts/Human.eot");
    src: url("assets/fonts/Human.eot?#iefix") format("embedded-opentype"),
      url("assets/fonts/Human.otf") format("opentype"),
      url("assets/fonts/Human.svg") format("svg"),
      url("assets/fonts/Human.ttf") format("truetype"),
      url("assets/fonts/Human.woff") format("woff"),
      url("assets/fonts/Human.woff2") format("woff2");

    font-weight: normal;
    font-style: normal;
}


::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: var(--cl-dark-2);
}
::-webkit-scrollbar-thumb {
    background: var(--cl-light-1);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--cl-light-2);
}


html, body {
    margin: 0;

    font-family: "Human", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

html {
    width: 85vh;
    height: 600px;

    overflow: hidden;
    background-color: var(--cl-dark-1);
    color: var(--cl-light-1);
}

body {
    height: 100%;
    overflow: hidden;
}



.header {
    font-size: 24px;
}

.page-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.page-content > div:nth-child(1) {
    flex-grow: 1;
    overflow-y: auto;
}
.page-content > div:nth-child(2) {
    flex-shrink: 0;

    border-top: 2px solid var(--cl-light-1);
    padding: 10px;
}